/Atlir5_g54900_Skyjo_Server/nbproject/private/
/Atlir5_g54900_Skyjo_Server/build/
/Atlir5_g54900_Skyjo_Client/nbproject/private/
/Atlir5_g54900_Skyjo_Client/build/
/Atlir5_g54900_Skyjo_Server/dist/
/Atlir5_g54900_Skyjo_Client/dist/
/Atlir5_g54900_Skyjo_Message/nbproject/private/
/Atlir5_g54900_Skyjo_Message/dist/
/Atlir5_g54900_Skyjo_Message/build/
